* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("https://files.catbox.moe/rdz06j.crdownload"), auto;
  }
  
  body {
    scroll-behavior: smooth;
    background-image: url("https://64.media.tumblr.com/0ecdc471e6cdba51ab4f3ab1215e8b0e/bb9f037edc57fb13-0e/s400x600/050e67c030979d38d0c66dfb36b11125facba601.gifv");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    font-size: 20px;
  color: rgb(103, 95, 77);
  font-family: "Single Day", cursive;
  }
  
  .entry {
    background: #ffcfe2;
    padding: 15px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(92, 88, 79, 0.7);
  }
  .date {
    font-size: 0.9em;
    color: #999;
  }
  .back-button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #ffe3f1;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .back-button:hover {
    background: #ffeef7;
  }

  .music-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: pink;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 0 10px rgb(212, 163, 188);
    cursor: pointer;
    font-family: "Inconsolata", monospace;
  }